@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Science+Gothic:wght@100..900&display=swap');


:root {
  --rf-brand: #fb8d19;
  --rf-brand-rgb: 248, 54, 145;
  --rf-dark: #212237;
  --rf-body: #989898;
  --f-main: "Lora", sans-serif;
  --transition: all .6s cubic-bezier(.165, .85, .44, 1);
  --shadow: 0px 15px 30px rgba(0, 0, 0, 0.1);
}

body, h1 {
  font-family: var(--f-main);
  color: var(--rf-body);
  line-height: 1.8;
}

h1, h2, h3, h5, h6 {
  font-weight: 700;
  color: var(--rf-dark);
  font-family: var(--f-main);
}

.text-brand {
  color: var(--rf-brand);
  margin-top: 5px;
}

.brand-text {
  margin-top: 5px;
  font-size: 70px;
  font-family: "Science Gothic", sans-serif;
}

p {
  color: white;
  font-size: 20px;
}

p, .brand-text {
  margin-top: 0px;
  margin-bottom: 5px;
}

.but {
  background-color: var(--rf-brand);
}

.navbar-brand {
  font-family: "Science Gothic", sans-serif;
}

#home {
  background-image: url('assets/bg.jpg');
  background-size: cover;
  background-position: center;
}

@font-face {
  font-family: "MyFont";
  src: url("simanja.ttf") format("truetype");
}

h1 {
  font-family: "MyFont";
}

.section-padding {
  padding-top: 120px;
  padding-bottom: 120px;
}

